



<main class="main contact">
    <div class="container">
        <div class="email">
            <p>Страница не существует, перейдите на @Html.ActionLink("Главную", "Index", "Home")</p>
        </div>
        <div>
            <img src="image/ServiceImg/404Error.png" alt="">
        </div>
    </div>

</main>


@*<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="GidOnline - твой гид в мире кино. Онлайн ресурс для просмотра фильмов и сериалов.">
        <meta name="keywords" content="GidOnline, Онлайн сериалы, Онлайн смотреть фильмы">
        <title>GidOnline - Error Page</title>
        <link rel="icon" href="image/ServiceImg/h-logo.png" type="image/x-icon">
        <link rel="stylesheet" href="style/style.css">
        [if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html"><img src="image/ServiceImg/gidonline.png" title="GidOnline" alt=""></a>
                </div>
                <div class="navigation">
                    <div class="search">
                        <form method="get" name="search" id="search" action="#">
                            <input type="text" name="inputSearch" id="inputSearch" title="Search" class="inputSearch" placeholder="Поиск...">
                            <input id="btnSearch" title="Search" type="submit" name="submit" class="btnSearch" value=" Поиск">
                        </form>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#" class="item-nav">Новинки</a><span>|</span></li>
                            <li><a href="#" class="item-nav">Премьеры</a><span>|</span></li>
                            <li><a href="#" class="item-nav">Навигатор</a><span>|</span></li>
                            <li><a href="#" class="item-nav">Случайные</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <main class="main contact">
            <div class="container">
                <div class="email">
                    <p>Страница не существует, перейдите на <a href="index.html">Главную</a></p>
                </div>
                <div>
                    <img src="image/ServiceImg/404Error.png" alt="">
                </div>
            </div>

        </main>

        <footer class="footer">
            <div class="container">
                <div class="info">
                    <p> ©&nbsp; <a href="#">GidOnline</a> - Твой гид в мире кино!</p>
                </div>
                <div class="info-link">
                    <p><a href="faq.html">Пользователю</a> ♦ <a href="rights.html">Правообладателям</a> ♦ <a href="contact.html">Контакты</a></p>
                </div>
            </div>
        </footer>
    </body>
    </html>*@
