@model IEnumerable<CinemaOnline.Models.Movie>

<section class="genre">
    <div class="container">
        <div>

            @*@Html.ActionLink("Вестерн", "Index", "Home", new { genre = "вестерн" }, null)
            @Html.ActionLink("История", "Index", "Home", new { genre = "история" }, null)
            @Html.ActionLink("Семейный", "Index", "Home", new { genre = "семейный" }, null)*@



            <a href="#">вестерн</a>
            <a href="#">история</a>
            <a href="#">семейный</a>
        </div>
        <div>
            @*@Html.ActionLink("Биография", "Index", "Home", new { genre = "биография" }, null)
            @Html.ActionLink("Комедия", "Index", "Home", new { genre = "комедия" }, null)
            @Html.ActionLink("Сериалы", "Index", "Home", new { genre = "сериалы" }, null)*@

            <a href="#">биография</a>
            <a href="#">комедия</a>
            <a href="#">сериалы</a>
        </div>
        <div>
            <a href="#">боевик</a>
            <a href="#">криминал</a>
            <a href="#">спорт</a>
        </div>
        <div>
            <a href="#">военный</a>
            <a href="#">мелодрама</a>
            <a href="#">триллер</a>
        </div>
        <div>
            <a href="#">детектив</a>
            <a href="#">музыка</a>
            <a href="#">ужасы</a>
        </div>
        <div>
            <a href="#">драма</a>
            <a href="#">мультфильм</a>
            <a href="#">фэнтези</a>
        </div>
        <div class="item7">
            <a href="#">документальный</a>
            <a href="#">приключения</a>
            <a href="#">фантастика</a>
        </div>
    </div>
</section>
