body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url("../image/ServiceImg/bg1.jpg") center no-repeat;
    background-size: cover;
    background-color: #111;
    font-family: Verdana, Geneva, sans-serif;
    color: #baafaf /*#6d6d6d*/;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:focus {
    color: red;
    background-color: silver;
}
/*
    Header
*/
    
.header{
    width: 1245px;
    height: 140px;
    margin: auto;
    margin-top: 90px;
    background-color: #1a243a;
    border-radius: 20px 20px 0 0;
}

.container{
    width: 98%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content:space-between;
}

.container .logo img{
    width: 380px; 
    height: 100px;
}

.navigation{
    width: 445px;
    margin-right: 30px;
    position: relative;  
}

.navigation .search{
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 25px;
    color: #6d6d6d;
}


.navigation .search .inputSearch{
    background-color: #16191e;
    border: 2px solid #2f363f;
    padding: 4px;
    border-radius: 5px;
    font-size: inherit;
    color: inherit;
    transition: all .4s ease-in-out;
    outline: none;
}

.navigation .search .inputSearch:hover{
    border: 2px solid #424951;
    transition: all .4s ease-in-out;
}

.navigation .search .btnSearch{
    width: 115px;
    height: 40px;
    border: none;
    background-color: #292d33;
    border-radius: 5px;
    font-size: inherit;
    margin-left:  -6px;
    color: inherit;
    cursor: pointer;
    transition: all .4s ease-in-out;
    outline: none;
}

.navigation .search .btnSearch:hover{
    border: 1px solid #3d3e3f;
    background-color: #393b3f;
    transition: all .4s ease-in-out;
}



.navigation .menu{
    position: absolute;
    top: 55px;
    right: 50px;
    font-size: 16px;
    color: #6d6d6d;
}

.navigation .menu ul{
    display: flex;
    list-style: none;
}

.navigation .menu a{
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px; 
    color: #6d6d6d;
}

.navigation .menu a:hover{
    color: #999494;
    transition: all .4s ease-in-out;
}

.navigation .menu span{
    font-weight: bold;
    color: #3f3e3e;
}

/*
    Header
*/



/*
    Premiere
*/

.premiere{
    width: 1245px;
    height: 245px;
    margin: 0 auto;
    background-color: #1a243a;
}

.premiere .container{
    padding: 5px 0;
}

.premiere .container .card{
    width: 167px;
    background-color: #30333a;
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.premiere .card img{
    width: 147px;
    height: 170px;
    margin: 10px;
}

.premiere .card p{
    text-align: center;
    font-size: 15px;
    margin: 0;
    overflow: hidden;
    color: #9dd0aa /*#6d6d6d*/;
    margin-bottom: 5px;
}

.premiere .card:hover{
    background-color: #44464c;
    transition: all .2s ease-in-out;
}


/*
    Premiere
*/

/*
    Genre
*/
.genre{
    width: 1245px;
    height: 150px;
    margin: 0 auto;
    background-color: #1a243a;
}

.genre .container{
    padding: 0;
}

.genre .container div{
    width: 165px;
    transition: all .2s ease-in-out;
}

.genre .container div  a{
    display: inline-block;
    width: 165px;
    height: 31px;
    border: none;
    text-decoration: none;
    text-align: center;
    vertical-align:middle;
    padding-top: 10px;
    background-color: #292d33;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 5px 5px 2px; 
    color: inherit;
    cursor: pointer;
    transition: all .4s ease-in-out;
    outline: none;
}

.genre .container div  a:hover{
    background-color: #464a51;
}

/*
    Genre
*/

/*
    Content-main
*/
.content-main{
    display: flex;
    width: 1245px;
    min-height: 1350px;
    margin: 0 auto;
    margin-top: -15px;
    background-color: #1a243a;
}

.content-main .container{
    width: 980px;
    max-height: 140px;
    /*height: 1450px;*/
    padding: 0;
    margin: 0;
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.content-main .container .card{
    width: 240px;
    max-height: 340px;
    background-color: #30333a;
    text-decoration: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    margin: 5px;
    margin-left: 0;
}

.content-main .card img{
    width: 224px;
    height: 270px;
    margin: 8px;
    margin-bottom: 0;
}

.content-main .card p{
    text-align: center;
    font-size: 15px;
    margin: 0;
    overflow: hidden;
    color: #6d6d6d;
}

.content-main .card span{
    color: red;
    font-weight: 600;
}

.content-main .card p:last-child{
    padding: 5px 0;
}

.content-main .card:hover{
    background-color: #44464c;
    transition: all .3s ease-in-out;
}

.content-main .container .nav-bnt{
   width: 960px;
   height: 35px;
   padding: 5px;
}


/*
    right
*/

    .content-main .right {
        overflow: hidden;
        width: 230px;
        height: 1380px;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        background-color: #30333a;
    }

.right .open {
    position: relative;
    width: 224px;
    min-height: 70px;
    border: 2px solid #393c42;
    border-radius: 5px;
}


    .right .open .btn:hover {
        border: 1px solid #3d3e3f;
        background-color: #464a51;
        transition: all .2s ease-in-out;
    }

    .right .open .btn-Enter, .btn-Registr {
        display: inline-block;
        border: none;
        margin: 15px 2px;
        background-color: #3f4042;
        border-radius: 5px;
        color: inherit;
        transition: all .2s ease-in-out;
        outline: none;
        text-decoration: none;
        padding: 9px 16px;
    }

    .right .open p {
        margin: 0;
        font-size: 18px;
        margin-top: 30px;
        padding: 0 9px;
    }


        .right .open p::first-letter {
            color: red;
            font-weight: bold;
        }

    .right .open .btn-Exit {
        position: absolute;
        top: 5px;
        right: 5px;
        display: inline-block;
        border: none;
        background-color: #2b2626;
        border-radius: 5px;
        color: red;
        font-size: 15px;
        font-weight: 900;
        transition: all .2s ease-in-out;
        outline: none;
        text-decoration: none;
        padding: 2px 5px;
    }

.now-cinema{
    width: 225px;
    margin: 0;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #3d3e3f;
    transition: all .4s ease-in-out;
}

.now-cinema h2{
    font-size: 15px;  
    padding-left: 25px;
    margin: 15px 0;
    color: cadetblue;
}

.cinema .card{
    text-decoration: none;
    font-size: 15px;
}

.cinema .card div{
    width: 210px;
    height: 295px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #292929;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
}

.cinema .card :hover{
    background-color: #aba;
    color: red;
    transition: all .3s ease-in-out;
}

.cinema .card div img{
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 250px;
    padding: 5px 0 0 0;
    border-radius: 15px;
}


/*
    right
*/


/*
    Content-main
*/


/*
    Footer
*/

.footer{
    width: 1245px;
    height: 65px;
    margin: 0 auto;
    background-color: #1a243a;
}

    .footer .container {
        background-color: #383535;
        border-radius: 10px;
        padding: 1px 5px;
    }

.info{
    padding-left: 15px; 
}

.info a{
    text-decoration: none;
    color: azure;
}

.info-link{
    padding-right: 15px;
}


.info-link a{
    text-decoration: none;
    color: #dadada;
}

/*
    Footer
*/





/*
        FAQ .html
*/



.faq{
    width: 1245px;
    height: 755px;
    margin: auto;
    background-color: #1a243a;
    
}

.main .container{
    display: block;
    border: 2px solid #34363e;
    border-radius: 5px;
    padding: 8px;
    background-color: #151c25;
    width: 95%;
}

.faq h1{
    text-align: center;
    background-color: #34363e;
    border-radius: 5px;
}

.faq h3{
    padding: 5px; 
    background-color: #34363e;
    border-radius: 5px;
    margin: 0;
}


.faq p{
    padding: 5px; 
    text-align: justify;
    border-radius: 5px;
    margin: 5px 20px;
}

.faq span{
    color: #a01313;
}


/*
        FAQ .html
*/


/*
        CONTACT .html
*/


.contact{
    width: 1245px;
    height: 530px;
    margin: auto;
    background-color: #1a243a;
    
}

.contact .container{
    height: 500px; 
    position: relative;
    display: block;
    border: 2px solid #34363e;
    border-radius: 5px;
    padding: 8px;
    background-color: #151c25;
    width: 95%;
}


.contact .email{
    border-radius: 10px;
    background-color: #222325;
    padding: 10px;
}

.contact .email a{
    text-decoration: none;
    color: darkred;
}

.contact img{
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 180px;
    right: 100px;
}




/*
        CONTACT .html
*/


/*
        Movie.html
*/

.content-main .movie-main-cont {
    width: 980px;
    height: auto;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.content-main .movie-main-cont .card {
        width: 240px;
        max-height: 345px;
        background-color: #30333a;
        text-decoration: none;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        margin: 5px;
        margin-left: 0;
    }


/*.content-main .movie-main-cont {
    height: auto;
}*/

.movie-main-cont .info-movie {
    width: 940px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    background-color: #30333a;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.info-movie .img-logo {
    height: 350px;
}

.info-movie .img-logo img{
    width: 200px;
    height: 320px;
    border: 1px solid #000;
}

.info-movie .info-text{
    height: 350px;
    padding: 0 5px 5px 5px;
    margin-left: 30px;
}

.r-1 {
    background-color: #222;
}

.info-text .r-1{
    display: flex;
    justify-content: flex-start;
    width:  auto;
    height: 50px;
}

.info-text .r-1 p::first-letter{
    color:red;
}

.info-text .r-2{
    display: flex;
    justify-content: flex-start;
    width:  auto;
    height: 50px;
}

.info-item{
    width: 200px;
    margin-left: 5px;
    padding-left: 5px;
}

.info-answer{
    margin-left: 50px;
    padding-right: 5px;
    margin-right: 5px;
    min-width: 435px;
}

.info-answer p span{
    text-transform: uppercase;
}

.info-answer span::first-letter {
    color: #F00;
    font-weight: bold;
    font-size: 16px;
    margin-right: 1px;
}


/*
    About-movie
*/

.about-movie{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 2px 10px;
    width: 960px;
    border-radius: 5px;
    background-color:  #30333a;
    text-align: justify;
}

.about-movie h3{
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    margin: 15px 0;
}

.about-movie h3::first-letter{
    color: red;
    font-weight: bold;
}

.container .about-movie p{
    margin: 0;
    line-height: 26px;
    margin-bottom: 15px;
}

.container .video-trailer {
    overflow: hidden;
    border-radius: 15px;
}

/*
    About-movie
*/

/*
    commit
*/

.commit {
    overflow: hidden;
   min-height: 300px;
   margin: 10px 0;
   padding: 10px ;
   box-sizing: border-box;
   width: 960px;
   background-color: #222;
   border-radius: 10px;
}

.commit .title-cm{
    display: inline-block;
    font-size: 19px;
}

.commit .title-cm::first-letter {
    color: #F00;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1px;
}

.contact-form{
    margin: 8px 0;
}

.contact-form input, textarea{
    background-color: #3d3939;
    border: none;
    font-size: 18px;
    color: #ccc;
    line-height: 25px;
    box-sizing: border-box;
    padding: 2px 2px;
}

.comment-form .comment{
    width: 600px;
    height: 150px;
}

.form-input input{
    width: 115px;
    height: 40px;
    border: none;
    background-color: #3d3939;
    border-radius: 5px;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    transition: all .4s ease-in-out;
    outline: none;
    font-weight: 700;
}

.form-input input:hover{
    background-color: #545050;
    transition: all .4s ease-in-out;
}

/*
    commit
*/

/*
        Movie.html
*/

/*

    Login/Registr

*/


.text-danger{
    color: red;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.form-link {
    display: inline-block;
    border: none;
    margin: 15px 2px;
    background-color: #3f4042;
    border-radius: 5px;
    color: inherit;
    transition: all .2s ease-in-out;
    outline: none;
    text-decoration: none;
    padding: 9px 16px;
}

.form-link:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    background-color: #464a51;
    transition: all .2s ease-in-out;
}

.form-link1 {
    display: inline-block;
    border: none;
    margin: 1px 1px;
    background-color: #151618;
    border-radius: 5px;
    color: inherit;
    transition: all .2s ease-in-out;
    outline: none;
    text-decoration: none;
    padding: 5px 6px;
}

.form-link1:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #151618;
    color: red;
    transition: all .2s ease-in-out;
}

.form-control {
    background-color: #16191e;
    border: 2px solid #2f363f;
    padding: 4px;
    border-radius: 5px;
    font-size: inherit;
    color: inherit;
    transition: all .4s ease-in-out;
    outline: none;
}

.login {
    width: 1245px;
    min-height: 450px;
    margin: auto;
    background-color: #1a243a;
    padding-bottom: 10px;
}

.container-login {
    margin: auto;
    width: 400px;
    height: auto;
    display: block;
    border: 2px solid #34363e;
    border-radius: 5px;
    padding: 8px;
    background-color: #151c25;
}


.login h2 {
    margin: auto 0;
    margin-bottom: 10px;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.container-login form{
    display: block;
}

.container-admin {
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}