

    <main class="main contact">
        <div class="container">
            <div class="email">
                <p>Страница не существует, перейдите на  @Html.ActionLink("Главную", "Index", "Home")</p>
            </div>
            <div>
                <img src="~/image/ServiceImg/404Error.png" alt="">
            </div>
        </div>

    </main>
