
@{
    ViewBag.Title = "FAQ";
}

<main class="main faq">
    <div class="container">
        <h1>Часто задаваемые вопросы или то, что вам необходимо знать:</h1>

        <h3>1. Сайт не открывается, доступ блокирует ваш провайдер?</h3>
        <p>ГидОнлайн блокируется Роскомнадзором на территории РФ, воспользуйтесь популярными средствами обхода блокировок приведенными ниже, это просто и законно. Вы получите доступ ко многим премьерным новинкам, которые везде в интернете заблокированы правообладателями. Кроме того, используя данные инструменты, вы обеспечите свою анонимность в сети интернет, что так актуальным стало в наши дни.</p>
        <p><span>Внимание!</span> В связи с блокировкой, в интернете появились мошенники, использующие наше имя и похожие адреса, просим быть внимательными, мы остаемся исключительно на gidonline.in У нас нет других зеркал и адресов, не заходите на подозрительные сайты, иначе вы рискуете нанести вред вашему устройству!</p>

        <h3>2. Отсутствует плеер в Opera браузере.</h3>
        <p>Проблема в встроенном в Opera блокировщике рекламы, он режет скрипт плеера, нужно отключить блокировку рекламы на сайте.</p>

        <h3>3. Просмотр: "идет в кино"</h3>
        <p>Фильм идет в кинотеатрах, будет доступен здесь как только в интернете появится релиз в хорошем качестве. Вы можете добавить фильм в закладку "на потом", чтобы проще отслеживать появление релиза.</p>

        <h3>4. Подвисает плеер?</h3>
        <p>Если вы используете средства обхода блокировок, анонимайзеры или плагины ускоряющие загрузку, попробуйте в настройках плагина/браузера сменить страну на вашу или которая ближе к вам. Так же, вы можете попробовать использовать любой другой инструмент из перечисленных ниже для обхода блокировок т.к. везде скорость может быть разная. Если ничего не помогает попробуйте на время сменить качество в плеере на более низкое.</p>


        <h3>5. При регистрации или восстановлении доступа не приходит письмо с паролем</h3>
        <p>Проверьте папку "спам" или "нежелательные письма" в своей почте, по ошибке могло попасть туда</p>

        <h3>6. Не можете зайти под своим логином и паролем?</h3>
        <p>
            Очистите историю вшего браузера. Это можно сделать в его настройках
            (быстрый вызов меню: <span>Ctrl+Shift+Del</span>)
        </p>
    </div>
</main>