
@{
    ViewBag.Title = "Правообладателям";
}

<main class="main contact">
    <div class="container">
        <p>Сайт представляет собой информационнно-рекомендательный некоммерческий сервис.</p>
        <p>Настоящим уведомляем, что на внутренних ресурсах сайта не хранится контент, содержащий объекты авторских прав и нарушающий законодательство в области авторского права. Администрация сайта также не осуществляет деятельность, связанную с публикацией нелицензионного контента, незаконно украденного и находящегося под защитой правообладателей.</p>
        <p>Вся видеоинформация, размещенная на сайте, представляет собой исключительно ссылки на видеоматериалы, находящиеся в свободном доступе для просмотра в сети Интернет на сторонних ресурсах. Сбор информации о доступных в сети Интернет видеоматериалов, и размещение на них ссылок на страницах сайта осуществляется в автоматическом режиме. Администрация сайта в данном случае не осуществляет контроль над добавляемыми на сайт ссылками.</p>
        <p>Cайт всегда открыт для сотрудничества с правообладателями. Если Ваши исключительные права на объекты авторской собственности нарушаются каким-либо образом с использованием данного сайта, администрация готова оказать Вам содействие и удалить с сайта соответствующие ссылки на видеоматериалы.</p>
        <p>Для этого мы просим Вас прислать нам письмо в электронном виде, предоставив минимум информации:</p>
        <ol>
            <li>Документальное подтверждение Ваших исключительных прав на материал, защищённый авторским правом.</li>
            <li> Прямая ссылка на страницу сайта, которая предположительно содержит данные, опубликованные с нарушением авторских прав.</li>
            <li>Полное имя (ФИО) отправителя претензии, как подтверждение своей ответственности за подачу информации.</li>
        </ol>
        <p>При получении письма, содержащего данное подтверждение, в течение 12 часов мы удалим с сайта соответствующие ссылки на видеоматериалы, либо по вашей же просьбе заменим их на другие.</p>
        <p>С уважением, администрация сайта.</p>
    </div>

</main>